.layout {
  position: relative;
  min-height: 100vh;
}

.top-bar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 9rem;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.nav-btn:hover {
  color: #4a90e2;
}

.logout-btn {
  /* position: absolute; */
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #4a90e2;
  font-size: 1rem;
  cursor: pointer;
}

.logout-btn:hover {
  text-decoration: underline;
}

.content {
  padding-top: 3rem; 
}

.top-bar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

.nav-btn,
.logout-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.nav-btn {
  padding: 0.25rem 0.5rem;
}
.logout-btn {
  padding: 0.25rem 0.5rem;
}
